body {
  background-color: black;
}

form {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

input {
  padding: 12px 20px;
  width: 30vw;
}
